# Virtual Environment folder
.egovenv

# VSCode settings and Python cache
.vscode
__pycache__

# User app data
data/color_theme
data/server_data.json
data/last_id.txt
data/server_data_new.json
data/last_id_new.txt