<template id="trade-template">
    <div class="row justify-content-center">
        <div id="trade-card" class="card mt-3 bg-dark-subtle p-3" style="max-width: 550px;">

            <input id="card-id" hidden/>

            <div class="row card-title">
                <div id="no-type-warning" class="col-auto text-danger">
                    {{ translations.trade_type_not_set }}
                </div>

                <div id="card-enabler" class="col-auto form-check form-switch ms-3" hidden>
                    <input id="card-enabler-switch" class="form-check-input" type="checkbox" role="switch"/>
                    <label id="card-enabler-label" class="form-check-label">
                        {{ translations.not_active_1 }}
                    </label>
                </div>

                <div class="col text-end">
                    <button id="delete-card-button" class="btn btn-sm btn-outline-secondary">
                        {% include 'icons/trash-fill.html' %}
                    </button>
                </div>
            </div>

            <div class="card-body">
                <div class="row input-group g-0">
                    <span class="input-group-text col-4">{{ translations.type }}</span>
                    <select id="trade-type" class="form-select">
                        <option value="none" selected></option>
                        <option value="tradePreset">{{ translations.trade_preset }}</option>
                        <option value="tradeSimple">{{ translations.trade_simple }}</option>
                        <option value="tradeMap">{{ translations.trade_map }}</option>
                        <option value="tradeJson">{{ translations.trade_json }}</option>
                    </select>
                </div>

                <div id="preset" class="row input-group g-0 mt-3" hidden>
                    <span class="input-group-text col-4">{{ translations.trade }}</span>
                    <select id="preset-name" class="form-select">
                        <option value="sell_banner_pattern" selected>{{ translations.trade_banner_pattern }}</option>
                        <option value="sell_pottery_sherd">{{ translations.trade_pottery_sherd }}</option>
                        <option value="sell_trim_template">{{ translations.trade_trim_template }}</option>
                        <option value="sell_enchant_dictionary">{{ translations.trade_enchant_dictionary }}</option>
                        <option value="sell_all_extras">{{ translations.trade_all_extras }}</option>
                    </select>
                </div>

                <div id="custom-trade-content" hidden class="mt-3">
                    <div class="input-group g-0 mb-2" id="item-result-group">
                        <span class="input-group-text col-3">
                            {{ translations.trade_result }}
                        </span>
                        <input id="item-result" class="form-control"
                            placeholder="{{ translations.trade_item_id_tag }}" required
                        />
                        <span class="input-group-text">
                            {{ translations.trade_amount }}
                        </span>
                        <input id="item-result-amount" class="form-control" required/>
                    </div>

                    <div class="input-group g-0 mb-2" id="structure-id-group">
                        <span class="input-group-text col-4">
                            {{ translations.trade_map_structure_id_tag }}
                        </span>
                        <input id="structure-id" class="form-control" required/>
                    </div>

                    <div class="input-group g-0 mb-2" id="structure-name-group">
                        <span class="input-group-text col-3">
                            {{ translations.trade_map_name }}
                        </span>
                        <input id="name" class="form-control"
                            placeholder="{{ translations.trade_leave_empty_default }}"
                        />
                    </div>

                    <div class="input-group g-0 mb-2">
                        <span class="input-group-text col-3">
                            {{ translations.trade_item_cost }}
                        </span>
                        <input id="item-cost-1" class="form-control"
                            placeholder="{{ translations.trade_item_id_tag }}" required
                        />
                        <span class="input-group-text">
                            {{ translations.trade_amount }}
                        </span>
                        <input id="item-cost-amount-1" class="form-control" required/>
                    </div>

                    <div class="input-group g-0 mb-2">
                        <span class="input-group-text col-3">
                            {{ translations.trade_item_cost_2 }}
                        </span>
                        <input id="item-cost-2" class="form-control"
                            placeholder="{{ translations.trade_optional }}"
                        />
                        <span class="input-group-text">
                            {{ translations.trade_amount }}
                        </span>
                        <input id="item-cost-amount-2" class="form-control"
                            placeholder="{{ translations.trade_optional }}"
                        />
                    </div>

                    <div class="input-group g-0 mb-2">
                        <span class="input-group-text col-3">
                            {{ translations.trade_priority }}
                        </span>
                        <input id="trade-priority" class="form-control"
                            placeholder="{{ translations.trade_optional }}"
                        />
                    </div>
                </div>

                <div id="json-trade-content" class="form-floating mt-3" hidden>
                    <textarea id="content-text" class="form-control" style="height: 100px"></textarea>
                    <label>{{ translations.trade_json_content }}</label>
                    <div id="json-error" class="text-danger small mt-1" hidden>
                        {{ translations.trade_json_error }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>