<!DOCTYPE html>
<html data-bs-theme="{{theme}}" data-mode="{{mode}}">
    {% include 'shared/head.html' %}
    <body>
        {% include 'shared/header.html' %}
        <main class="container my-4">
            {% if mode != 'legacy' %}
                <div class="row justify-content-center text-danger text-center mb-3">
                    {{ translations.growsseth_only_warning }}
                </div>
            {% endif %}
            <div class="row row-cols-lg-3 mx-lg-5">
                {% include 'cards/quest-steps-cards.html' %}
            </div>
            {% with title=help_title, content=help_content %}
                {% include 'modals/modal-help.html' %}
            {% endwith %}
        </main>
        {% include 'shared/footer.html' %}
    </body>
    <script> var activeText = "{{translations.active_1}}" </script>
    <script> var notActiveText = "{{translations.not_active_1}}" </script>
    <script src="{{ url_for('static', filename='js/quest-steps.js') }}" type="module"></script>
</html>